body {
      
    background-image: url('/img/rest.jpg');
    background-repeat: no-repeat;
    background-size: 1500px;
}


#submitButtom {
    width: 30%;
    text-align: center;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
  
#message p {
    padding: 10px 35px;
    font-size: 18px;
}


  
/* Add a green text color and a checkmark when the requirements are right */
.valid, .valid1 {
    color: green;
}
  
.valid:before, .valid1:before {
    position: relative;
    left: -35px;
    content: "✔";
}
  
/* Add a red text color and an "x" when the requirements are wrong */
.invalid, .invalid1 {
    color: red;
}
  
.invalid:before, .invalid1:before {
    position: relative;
    left: -35px;
    content: "✖";
}




.container {
    position: center;
    margin-top: 550px;
    margin-bottom: 100px;
    text-align: center;
    
    width: 50%;
    margin-left: 25%;
    
}

/* setting position and transition for the buttom*/
.button {
   
    position: relative;
    background-color: #5aaa5a;
    border-radius: 15px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;    
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.buttom {
    position: relative;
    background-color: #5aaa5a;
    border-radius: 15px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer; 
    margin-left:550px;
}

.textabout {
    text-align: center;
    color: green;
    size: 150px;


}

/* menu position */
.menuItem {
    background-color: #90EE90;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: green;
    border: 1px solid green;
    margin-top: 50px;
}




table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
    border: 1px solid green;
}

th, td {
    
    padding: 15px;
    height: 50px;
    text-align: left;
    font-size: 15px; 
}

.value1{
    display: inline-block;
    text-align: center;
    
}







.total {
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 35%;
    justify-content:center;
    width: 40%;
    position: center;
}

.starters {
    width: 40%;
    height: 25%;
    border: 1px solid green;
    border-radius: 15px;
    text-align: center;
    
}




/* prices */
#ItemsTotal, #ItemsMainTotal, #ItemsDessertTotal, #ItemsDrinkTotal, #BillTotal, #Veg_Food, #NonVeg_Food{
    
    background-color: rgb(91, 218, 91);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    
}

.randon {
    color: green;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
  
/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}
  

  
  
  
/* Style the container for inputs */
.container1 {

    margin-top: 220px;
    border-radius: 30px;
    width: 40%;
    background-color: #90EE90;
    padding: 5%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
}

#submitButtom {
    width: 40%;
}

.textpass {
    color: green;
    size: 50px;
}
 
/* image slider */  
#slider {

    width: 100%;
   
    height: 650px;
    

    position: relative;

}

#slider img{

    opacity: 0;

    position: absolute;
    width: 100%;
    height: 350px;
    
    object-fit: cover;

    transition: opacity 800ms;

    background-color: rgb(153, 74, 153);
}

#slider img.selected {

    opacity: 1;
}

/* menu info */
.container_contact, .contact, .center {
    text-align: center;
    color: green;
}

.name, .email, .message {
    width: 30%;
}

.buttomtext {
    width: 10%;
    background-color: #4CAF50;
}